<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>326621224329-kfjqhnp278htiehdsumn2g5dcppf4tip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326621224329-kfjqhnp278htiehdsumn2g5dcppf4tip</string>
	<key>API_KEY</key>
	<string>AIzaSyAlAiFpjBZxXYKFGatE0HnO9n0Wz2oWxXg</string>
	<key>GCM_SENDER_ID</key>
	<string>326621224329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat</string>
	<key>PROJECT_ID</key>
	<string>chat-573b4</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-573b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326621224329:ios:1da9170f2b4e29dcb99558</string>
	<key>DATABASE_URL</key>
	<string>https://chat-573b4-default-rtdb.firebaseio.com</string>
</dict>
</plist>